.test{
    background: url('/public/assets/basic-card.png') -142px 0;
    width: 142px;
    height: 190px;
    background-color: white;
    border-radius:6px;
    position: absolute;
    z-index: 100;
    border: 3px solid rgb(188, 187, 187);
    cursor: grab;
}